
    .details{
        background-color: rgb(197, 220, 233);
        width: 400px;
        
    
        .title{
            color: rgba(53, 121, 112, 0.808);
            font-size: large;
            font-weight: 500;
            margin-left: 100px;
            margin-bottom: 10px;
            // position: absolute;
            font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
    
        .start_date{
            color: rgb(131, 24, 77);
            margin-left: 140px;
            font-size: large;
        }
    
        .venue{
            color: chocolate;
            margin-left: 120px;
            font-size: large;
        }
    
    
    .image{
        margin-left: 40px;
        
    
        img{
            border-radius: 20%;
        }
    }
    }

    .a{
        margin-left: 500px;
        margin-top: -2240px;
        width: 1000px;
        height: 1000px;
        background-color: coral;
    }

    .full_details{
        margin-left: 402px;
        margin-top: -2240px;
        width: 1500px;
        // height:100px;
        
    }
    
    
    