.mat-stepper-horizontal {
    margin-top: 8px;
  }
  
  .mat-form-field {
    margin-top: 16px;
  }

  .buttons{
  
    button {
      color: rgb(33, 98, 141);
      font-size: 50px;
      margin-top: 20px;
      margin-left: 100px;
      margin-right: 600px;
    }
    button:hover{
      color: rgb(189, 49, 79);
     
    }
  
  }
  

  